<body>
  <div class="container">
  <h1> Juliana and Tom </h1>

  <div class="pictures">
  <%= image_tag "ring.jpeg", alt: "alttext" %>
  </div>

  <div style="padding-top: 30px;">
  <h2> 14th August 2021 </h2>
  </div>


  </div>
</body>
