<body>
  <div class="container">
  <h1> Juliana and Tom </h1>

<div class="left">
      <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag("hotel.jpeg") %>
      <% end %>
  </div>


  <div style="padding-top: 30px;">
  <h2> 14th August 2021 </h2>
  </div>


  </div>

</body>
